<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # 1. Redirecionar URL incorreta /sipe-admin para /sipen-admin (com N)
    RewriteRule ^sipe-admin(.*)$ /sipen-admin$1 [L,R=301]
    
    # 2. Redirecionar a raiz do site para o projeto principal (sipen)
    RewriteRule ^$ /sipen/ [L,R=301]
</IfModule>
