<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # 1. Evita loop se a requisição já estiver apontando para a pasta public/
    RewriteCond %{REQUEST_URI} ^/sipen-admin/public/ [NC]
    RewriteRule ^ - [L]

    # 2. Redireciona requisições de assets (arquivos/diretórios) existentes em public/ para a pasta public/
    RewriteCond %{DOCUMENT_ROOT}/sipen-admin/public/$1 -f [OR]
    RewriteCond %{DOCUMENT_ROOT}/sipen-admin/public/$1 -d
    RewriteRule ^(.*)$ public/$1 [L]

    # 3. Redireciona as rotas normais do Laravel para public/index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/index.php [L]
</IfModule>
